*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f4f4f4; }

div {
  display: block; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #000; }

a, a:link, a:visited {
  text-decoration: none;
  color: #00483d;
  cursor: pointer; }

header .heading .container {
  padding: 2rem 0;
  display: flex;
  align-items: center; }

header .heading .logo {
  width: 25.6rem;
  padding-right: 1rem; }
  header .heading .logo img {
    width: 100%; }

header .heading .search-box {
  flex-basis: 100%;
  padding: 2px 0px 0px 20px;
  vertical-align: top;
  position: relative; }
  header .heading .search-box form {
    display: block;
    margin-top: 0rem; }
  header .heading .search-box .border {
    background-color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px #ccc;
    position: relative; }
    header .heading .search-box .border input {
      border: none;
      outline: none;
      padding: 7px 0;
      width: 100%;
      font-weight: bold; }
    header .heading .search-box .border button {
      width: 4.2rem;
      height: 4.2rem;
      position: absolute;
      right: 4px;
      top: -5px;
      background: #00483d;
      background-image: linear-gradient(#00917a, #00483d);
      border: none;
      border-radius: 1.7rem;
      box-shadow: 0 4px 6px #ccc;
      font-size: 2.4rem;
      color: #fff;
      cursor: pointer; }

header .heading .order-tools {
  display: flex;
  width: 30rem;
  vertical-align: top;
  padding-left: 2.5rem;
  align-items: center; }
  header .heading .order-tools .item {
    float: left; }
  header .heading .order-tools .check-order {
    margin-right: 2.5rem; }
    header .heading .order-tools .check-order a {
      display: block;
      background: #00483d;
      border-radius: 1rem;
      padding: 4px 8px;
      box-shadow: 0 4px 6px #ccc;
      color: #fff;
      border: none;
      font-size: 1.2rem;
      width: 11rem;
      position: relative; }
    header .heading .order-tools .check-order .icon {
      font-size: 30px;
      position: absolute;
      left: 8px; }
    header .heading .order-tools .check-order .text {
      text-align: left;
      display: block;
      margin-left: 40px; }
  header .heading .order-tools .cart a, header .heading .order-tools .cart a:link, header .heading .order-tools .cart a:visited {
    font-size: 4.1rem;
    color: #00483d;
    display: flex;
    margin-top: 0.5rem; }
  header .heading .order-tools label {
    display: flex;
    justify-items: right;
    justify-content: right; }
    header .heading .order-tools label i {
      color: #ff6801;
      font-size: 1.4rem;
      margin-top: 1.6rem; }
    header .heading .order-tools label span {
      text-align: center;
      background: #ff6801;
      margin-top: 1rem;
      margin-left: -1px;
      font-size: 12px;
      display: block;
      border-radius: 4px;
      width: 2.5rem;
      height: 2.5rem;
      padding: 6px;
      color: #fff;
      line-height: 12px;
      margin-left: -0.8rem; }
  header .heading .order-tools .login-button {
    color: #00483d;
    font-weight: 500;
    width: 7rem;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 0.5rem;
    cursor: pointer; }
    header .heading .order-tools .login-button-box {
      font-size: 3rem; }
    header .heading .order-tools .login-button-content {
      margin-top: -1rem; }
    header .heading .order-tools .login-button a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.1rem; }
      header .heading .order-tools .login-button a i {
        font-size: 2rem; }

.container {
  min-width: 120rem;
  width: 120rem;
  margin: 0 auto; }

.section-filter .product-filters2 {
  position: relative;
  display: flex;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 1.4rem;
  margin: 2rem 0;
  font-size: 1.3rem; }
  .section-filter .product-filters2 .left {
    display: flex;
    justify-items: right;
    justify-content: right;
    width: 10rem;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 2; }
  .section-filter .product-filters2 .label {
    display: inline-block;
    color: #00917a;
    padding: 1.5rem 2rem; }
  .section-filter .product-filters2 .facet {
    display: block;
    padding: 1.5rem 1rem;
    margin-right: 2rem; }
    .section-filter .product-filters2 .facet label {
      display: flex;
      align-items: center; }
      .section-filter .product-filters2 .facet label a {
        color: #00483d; }
    .section-filter .product-filters2 .facet:hover label a, .section-filter .product-filters2 .facet:hover label span {
      color: #fd475a; }
    .section-filter .product-filters2 .facet .sub {
      display: none;
      position: absolute;
      width: 100%;
      z-index: 123;
      left: 0;
      top: 4.5rem;
      padding-top: 1rem; }
      .section-filter .product-filters2 .facet .sub ul {
        background: #fff;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 1.4rem;
        margin: 0;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: .5rem 1rem;
        grid-column-gap: 1rem; }
        .section-filter .product-filters2 .facet .sub ul li {
          list-style: none;
          padding: .5rem;
          display: flex; }
          .section-filter .product-filters2 .facet .sub ul li:hover a {
            color: #00917a; }
    .section-filter .product-filters2 .facet:hover .sub {
      display: block; }
  .section-filter .product-filters2 .right {
    display: flex;
    justify-items: right;
    justify-content: right;
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0; }

.login {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 9999;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  visibility: hidden; }
  .login:target {
    opacity: 1;
    visibility: visible; }
  .login .login-modal {
    border: 1px solid #dadada;
    background-color: #fff;
    border-radius: 0.5rem;
    max-width: 40m;
    width: 40rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; }
    .login .login-modal .login-container {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .login .login-modal .login-container .login-header {
        position: relative;
        margin-top: 1rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid #dadada; }
        .login .login-modal .login-container .login-header__cont {
          display: flex;
          justify-content: center; }
        .login .login-modal .login-container .login-header__img {
          width: 22rem;
          height: 2.75rem;
          background-image: url("../../img/logo.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top; }
        .login .login-modal .login-container .login-header .login-close-button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          position: absolute;
          top: -2.5rem;
          right: 0.5rem;
          font-size: 2.4rem; }
      .login .login-modal .login-container .login-content__cont {
        padding: 1.5rem 4rem; }
      .login .login-modal .login-container .login-content-header {
        font-size: 3rem;
        background-image: linear-gradient(to right, #00917a, #00483d);
        -webkit-background-clip: text;
        color: transparent; }
      .login .login-modal .login-container .toggle {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #dadada; }
        .login .login-modal .login-container .toggle-background {
          background-color: #f4f4f4;
          border-radius: 3rem;
          padding: 4px;
          position: relative; }
        .login .login-modal .login-container .toggle-labels {
          z-index: 100;
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 2.5rem;
          font-size: 1.4rem;
          letter-spacing: 0.5px; }
          .login .login-modal .login-container .toggle-labels label {
            flex-grow: 1;
            text-align: center;
            min-width: 50%;
            margin: 0;
            padding: 0.5rem 0;
            color: #75757a;
            font-weight: 400;
            cursor: pointer; }
        .login .login-modal .login-container .toggle-selection {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 4px; }
          .login .login-modal .login-container .toggle-selection-button {
            position: relative;
            width: 50%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 3rem;
            background-color: #cce9e4;
            box-shadow: 0 0 2px #bbb;
            transition: left .5s,right .5s; }
      .login .login-modal .login-container .login-form {
        display: flex;
        flex-direction: column;
        row-gap: .2rem;
        margin-top: 2rem; }
        .login .login-modal .login-container .login-form .label {
          font-size: 1.6rem;
          color: #00917a;
          font-weight: 800; }
        .login .login-modal .login-container .login-form input {
          font-size: 1.2em;
          color: #002f5f;
          border-radius: 0.25em;
          background-color: #fff;
          background-image: none;
          height: 3em;
          width: 100%;
          border: 1px solid #bbb;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          padding: 0.75rem 0.875rem;
          margin-bottom: 1em; }
          .login .login-modal .login-container .login-form input:focus {
            outline: 1px solid #bbb; }
        .login .login-modal .login-container .login-form button {
          font-size: 1.2em;
          font-weight: 700;
          color: #fff;
          margin-bottom: 1rem;
          margin-top: 0.5rem;
          padding-left: 1rem;
          padding-right: 1rem;
          border-radius: 0;
          background-color: #00483d;
          width: 100%;
          min-height: 3em;
          border: none;
          cursor: pointer; }
        .login .login-modal .login-container .login-form > div:last-child {
          display: flex;
          column-gap: .5rem;
          margin-left: auto;
          font-size: 1.2rem; }
          .login .login-modal .login-container .login-form > div:last-child a, .login .login-modal .login-container .login-form > div:last-child a:link, .login .login-modal .login-container .login-form > div:last-child a:visited {
            color: #0d5cb6; }
          .login .login-modal .login-container .login-form > div:last-child a:hover {
            text-decoration: underline; }

.position-1-actived ~ .login-form .adminInput {
  display: none;
  visibility: hidden; }

.position-1-actived .toggle-selection-button {
  right: 50%;
  left: 0; }

.position-2-actived .toggle-selection-button {
  right: 0;
  left: 50%; }

.section-product .box-home {
  margin: 2rem 0; }

.section-product .lts-product {
  display: flex;
  flex-flow: wrap; }
  .section-product .lts-product .item:nth-child(5n) {
    margin-right: 0; }

.section-product .more-product {
  text-align: center;
  font-size: 1.3rem; }
  .section-product .more-product a {
    margin: 3rem auto 2rem auto;
    padding: .6rem 5rem;
    display: inline-block;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 .5rem .8rem #00000029;
    border: 1px solid #004b3f;
    border-radius: 4px;
    color: #00483d;
    font-weight: 800; }

.section-features .corevalue {
  display: flex;
  padding: 10px 60px;
  margin: 20px 0; }
  .section-features .corevalue .item {
    display: flex;
    width: 25%;
    text-align: center;
    align-items: center;
    justify-content: center; }
    .section-features .corevalue .item .icon {
      font-size: 70px;
      margin-right: 10px;
      background: linear-gradient(to right, #00917a, #00483d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .section-features .corevalue .item .text {
      text-align: left;
      padding-bottom: 15px;
      line-height: 1.3; }
      .section-features .corevalue .item .text span {
        display: block;
        font-size: 13px; }
      .section-features .corevalue .item .text strong {
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700; }

footer {
  display: block; }
  footer .bg {
    background: #00483d;
    border-radius: 11px;
    padding: 10px 20px 10px 20px;
    color: #fff;
    font-size: 1.2rem; }
    footer .bg .col-content {
      display: flex; }
      footer .bg .col-content > div {
        flex-direction: column;
        width: 16.666666%; }
      footer .bg .col-content h4 {
        font-size: 1.4rem;
        margin: 10px 0 6px 0; }
    footer .bg a, footer .bg a:link, footer .bg a:visited {
      color: #ddd; }
    footer .bg a:hover {
      color: #fff; }
    footer .bg .hotline {
      display: inline-block;
      padding: 5px 10px;
      background: #fff;
      border-radius: 4px;
      color: #00483d; }
      footer .bg .hotline, footer .bg .hotline:link, footer .bg .hotline:visited {
        color: #00483d;
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 1px; }
    footer .bg .info {
      padding-top: 3rem;
      text-align: center; }
      footer .bg .info p {
        margin: 0 0 5px 0;
        font-size: 9pt; }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      margin-bottom: 3px; }

.breadcrumb {
  list-style: none;
  display: flex;
  margin-top: 2rem;
  color: #111;
  padding: 0; }
  .breadcrumb li {
    margin-right: 6px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem; }
    .breadcrumb li a, .breadcrumb li a:link, .breadcrumb li a:visited {
      color: #111;
      font-weight: 800; }
    .breadcrumb li i {
      margin-right: 2px;
      font-size: 1.1rem; }
    .breadcrumb li a.actived {
      color: #00917a; }
    .breadcrumb li::after {
      content: "v";
      margin-left: 5px;
      margin-top: 2px;
      transform: rotate(-90deg);
      font-size: 1.2rem; }
    .breadcrumb li:last-child::after {
      content: ""; }

meta {
  display: none; }

.header {
  background: #009981;
  margin-bottom: 2rem;
  display: inline-block;
  height: 3rem;
  overflow: hidden; }
  .header::after {
    content: " ";
    border-top: 30px solid #00483d;
    border-left: 30px solid #009981;
    margin-left: 40px; }
  .header h4 {
    padding: 5px 60px 6px 35px;
    margin: 0 0 0 60px;
    background: #00483d;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.3; }
    .header h4 a, .header h4 a:link, .header h4 a:visited {
      color: #fff; }
  .header:hover h4 a {
    color: #00917a; }

.lts-product .item {
  margin: 0 10px 10px 0;
  width: calc(1/5*100% - (1 - 1/5)*10px);
  background: #fff;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 8px;
  text-align: center;
  position: relative; }
  .lts-product .item .img {
    width: 15rem;
    margin: 3rem auto 0 auto; }
    .lts-product .item .img img {
      width: 100%; }
  .lts-product .item .sales {
    color: #fff;
    background-color: #ff6801;
    padding: 0.3rem .5rem;
    border-radius: 4rem;
    position: absolute;
    top: 17rem;
    left: .5rem;
    width: 60%;
    font-weight: bold;
    font-size: 1.1rem; }
  .lts-product .item .info {
    padding: 0 10px 15px 10px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 1.3rem;
    line-height: 1.3; }
    .lts-product .item .info a:link, .lts-product .item .info a:visited {
      color: #000;
      font-weight: 800;
      display: block; }
    .lts-product .item .info .price {
      display: block;
      clear: both; }
      .lts-product .item .info .price strong {
        font-size: 16px;
        color: #fd475a;
        font-weight: 800; }
  .lts-product .item .note {
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    bottom: 10px;
    text-align: left;
    font-size: 1.2rem; }
    .lts-product .item .note .text-orange {
      color: #f7941e;
      font-size: 1.3rem;
      font-weight: 800; }
  .lts-product .item .cover {
    position: absolute;
    width: 100%;
    top: 100px; }
  .lts-product .item .bag {
    display: inline-block;
    background: #f7941e 0% 0% no-repeat padding-box;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 3px;
    padding: 3px 5px;
    color: #fff;
    font-size: 1.1rem; }
  .lts-product .item .sticker {
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: column; }
  .lts-product .item .sticker-left {
    left: 5px;
    text-align: left; }

#section-phone .product-details .top-product {
  display: flex; }
  #section-phone .product-details .top-product h1 {
    margin: 20px 0 10px 0;
    flex-basis: auto;
    flex-grow: 3;
    display: flex;
    font-size: 2rem; }

#section-phone .product-details .product-details-container {
  display: flex; }
  #section-phone .product-details .product-details-container .product-image {
    position: relative;
    margin: 0 auto;
    top: 5px;
    left: 0;
    width: 370px;
    height: 470px;
    overflow: hidden;
    visibility: hidden;
    min-width: 380px;
    max-width: 380px; }
    #section-phone .product-details .product-details-container .product-image img {
      width: 380px;
      height: 370px;
      visibility: visible; }
    #section-phone .product-details .product-details-container .product-image .love-this-button {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 99; }
      #section-phone .product-details .product-details-container .product-image .love-this-button a {
        display: block;
        border-radius: 17px;
        padding: 8px 8px 3px 8px;
        visibility: visible;
        background: #fff7f8 0% 0% no-repeat padding-box;
        box-shadow: 0 4px 6px #00000029; }
      #section-phone .product-details .product-details-container .product-image .love-this-button i {
        font-size: 25px;
        line-height: 25px;
        width: 25px;
        color: #fd475a; }
      #section-phone .product-details .product-details-container .product-image .love-this-button .icon-love-2 {
        display: none; }
      #section-phone .product-details .product-details-container .product-image .love-this-button:hover .icon-love-2 {
        display: block; }
      #section-phone .product-details .product-details-container .product-image .love-this-button:hover .icon-love-1 {
        display: none; }
  #section-phone .product-details .product-details-container .product-center {
    flex-grow: 1;
    margin-left: 15px; }
    #section-phone .product-details .product-details-container .product-center .price {
      margin: 2rem 0 1rem 0; }
      #section-phone .product-details .product-details-container .product-center .price strong {
        font-size: 2.5rem;
        color: #fd475a; }
      #section-phone .product-details .product-details-container .product-center .price i {
        font-size: 1.5rem;
        margin-left: 5px; }
    #section-phone .product-details .product-details-container .product-center .freeship {
      background: #00483d 0% 0% no-repeat padding-box;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0 0 5px 0; }
      #section-phone .product-details .product-details-container .product-center .freeship span {
        display: block;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 30px;
        margin: 0;
        font-size: 1.3rem; }
    #section-phone .product-details .product-details-container .product-center .product-option {
      display: block;
      margin-bottom: 8px; }
      #section-phone .product-details .product-details-container .product-center .product-option .options {
        display: flex;
        flex-wrap: wrap; }
        #section-phone .product-details .product-details-container .product-center .product-option .options .item {
          display: block;
          width: 20%;
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 4px;
          background: #fff;
          position: relative; }
          #section-phone .product-details .product-details-container .product-center .product-option .options .item span {
            display: flex;
            justify-content: left;
            justify-items: left;
            margin-bottom: 5px;
            font-weight: 600; }
            #section-phone .product-details .product-details-container .product-center .product-option .options .item span::before {
              content: "";
              display: block;
              min-width: 12px;
              height: 12px;
              border-radius: 12px;
              line-height: 12px;
              text-align: center;
              border: 1px solid #ccc;
              margin-right: 5px;
              margin-top: 2px; }
            #section-phone .product-details .product-details-container .product-center .product-option .options .item span label strong {
              color: #333;
              font-weight: normal;
              font-size: 1.1rem; }
          #section-phone .product-details .product-details-container .product-center .product-option .options .item strong {
            color: #fd475a;
            display: block;
            font-size: 1.4rem;
            font-weight: 800; }
        #section-phone .product-details .product-details-container .product-center .product-option .options .selected {
          border: 2px solid #00483d;
          padding: 4px; }
          #section-phone .product-details .product-details-container .product-center .product-option .options .selected span::before {
            background-color: #00917a; }
    #section-phone .product-details .product-details-container .product-center .product-promotion {
      margin-bottom: 2rem; }
      #section-phone .product-details .product-details-container .product-center .product-promotion .label {
        font-size: 1.4rem;
        line-height: 2.8rem; }
      #section-phone .product-details .product-details-container .product-center .product-promotion .text-green {
        color: #00917a; }
      #section-phone .product-details .product-details-container .product-center .product-promotion ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        #section-phone .product-details .product-details-container .product-center .product-promotion ul li {
          margin-bottom: 5px; }
          #section-phone .product-details .product-details-container .product-center .product-promotion ul li .bag {
            display: inline-block;
            background: #f7941e 0% 0% no-repeat padding-box;
            box-shadow: 0 4px 6px #00000029;
            border-radius: 3px;
            color: #fff;
            font-size: 11px;
            padding: 2px 5px; }
    #section-phone .product-details .product-details-container .product-center .product-action {
      display: flex;
      padding: 0;
      justify-items: stretch;
      line-height: 1.4; }
      #section-phone .product-details .product-details-container .product-center .product-action .btn-red {
        background: transparent linear-gradient(180deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0 4px 6px #00000029;
        border-radius: 3px; }
      #section-phone .product-details .product-details-container .product-center .product-action .btn-green {
        background: transparent linear-gradient(180deg, #00917a 0%, #00483d 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0 4px 6px #00000029;
        border-radius: 3px; }
      #section-phone .product-details .product-details-container .product-center .product-action .btn-orange {
        background: transparent linear-gradient(180deg, #ff990e 0%, #ff6801 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0 4px 6px #00000029; }
      #section-phone .product-details .product-details-container .product-center .product-action .btnbuy {
        margin-right: 6px;
        display: block;
        text-align: center;
        color: #fff;
        padding: 4px 4px;
        flex-grow: 2; }
        #section-phone .product-details .product-details-container .product-center .product-action .btnbuy strong {
          display: block;
          font-size: 1.4rem; }
        #section-phone .product-details .product-details-container .product-center .product-action .btnbuy span {
          font-size: 1.1rem; }
        #section-phone .product-details .product-details-container .product-center .product-action .btnbuy:last-child {
          margin-right: 0; }
      #section-phone .product-details .product-details-container .product-center .product-action .add-cart {
        position: relative; }
        #section-phone .product-details .product-details-container .product-center .product-action .add-cart i {
          font-size: 2.8rem; }
        #section-phone .product-details .product-details-container .product-center .product-action .add-cart .icon-cart-plus {
          position: absolute;
          top: 0.1rem;
          right: 1.9rem; }
          #section-phone .product-details .product-details-container .product-center .product-action .add-cart .icon-cart-plus i {
            font-weight: 1000;
            font-size: 1.5rem; }
      #section-phone .product-details .product-details-container .product-center .product-action .btn-icon {
        border-radius: 4px;
        padding: 5px 3px 5px 0;
        font-size: 22px;
        position: relative;
        width: 10px;
        max-width: 40px;
        min-width: 40px;
        width: 40px;
        flex-grow: 1; }
    #section-phone .product-details .product-details-container .product-center .product-quantity {
      margin: 1rem 0;
      font-size: 1.2rem;
      font-style: italic; }
      #section-phone .product-details .product-details-container .product-center .product-quantity span {
        color: #fd475a;
        font-style: normal;
        font-weight: 800;
        margin-left: 2px;
        font-size: 1.3rem; }
  #section-phone .product-details .product-details-container .product-shop {
    min-width: 280px;
    max-width: 280px;
    margin-left: 15px;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background: #fff 0% 0% no-repeat padding-box;
    align-items: center;
    height: 39rem; }
    #section-phone .product-details .product-details-container .product-shop .warranty {
      margin-bottom: 10px;
      background-image: linear-gradient(to right, #00917a, #00483d);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
      #section-phone .product-details .product-details-container .product-shop .warranty h4 {
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 1.6rem; }
      #section-phone .product-details .product-details-container .product-shop .warranty p {
        justify-content: center;
        padding: 0;
        font-size: 12px;
        display: flex;
        line-height: 1.2; }
      #section-phone .product-details .product-details-container .product-shop .warranty .guarantee-item {
        display: flex;
        margin-top: 2rem; }
        #section-phone .product-details .product-details-container .product-shop .warranty .guarantee-item i {
          margin-left: 2.6rem;
          font-size: 12.4rem; }

#section-phone-preview .product-layout {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px; }
  #section-phone-preview .product-layout .product-left {
    background: #fff;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 14px;
    flex-grow: 1; }
    #section-phone-preview .product-layout .product-left #productContent {
      overflow: hidden;
      height: 65.2rem; }
    #section-phone-preview .product-layout .product-left .product-text {
      padding: 2.5rem 2rem; }
    #section-phone-preview .product-layout .product-left .view-more-container {
      padding: 8px 10px;
      text-align: center; }
      #section-phone-preview .product-layout .product-left .view-more-container a {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        color: #00483d; }
  #section-phone-preview .product-layout .product-right {
    box-shadow: 0 3px 6px #00000029;
    border-radius: 14px;
    flex: 0 0 380px;
    margin-left: 20px;
    background: #fff; }
    #section-phone-preview .product-layout .product-right .product-specs {
      padding: 15px; }
      #section-phone-preview .product-layout .product-right .product-specs h3 {
        font-size: 1.6rem; }
      #section-phone-preview .product-layout .product-right .product-specs .product-spect-img {
        max-width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        min-height: 350px;
        padding-bottom: 30px; }
        #section-phone-preview .product-layout .product-right .product-specs .product-spect-img img {
          width: 100%;
          border-radius: 14px; }
      #section-phone-preview .product-layout .product-right .product-specs .product-specs-button {
        position: absolute;
        bottom: -30px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0 auto;
        background: #fdfdfe 0% 0% no-repeat padding-box;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 10px;
        padding: 2px 50px;
        font-size: 15px;
        color: #191919;
        border: 0.5px solid #fdfdfe; }
        #section-phone-preview .product-layout .product-right .product-specs .product-specs-button span {
          background: transparent linear-gradient(180deg, #009a82 0%, #00483d 100%) 0% 0% no-repeat padding-box;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 26px;
          margin-right: 5px; }
  #section-phone-preview .product-layout .specs-special {
    margin-top: 4.5rem;
    line-height: 1.4;
    font-size: 1.3rem; }
    #section-phone-preview .product-layout .specs-special ol {
      list-style: none;
      margin: 0;
      padding: 0; }
      #section-phone-preview .product-layout .specs-special ol li {
        padding: 0.5rem; }

#close-modal {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out; }
  #close-modal:target {
    opacity: 1;
    visibility: visible; }
  #close-modal .jquery-modal {
    z-index: 9999 !important; }
  #close-modal .blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center; }
    #close-modal .blocker::before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.05em; }
    #close-modal .blocker #popup-modal {
      border-radius: 0; }
    #close-modal .blocker .modal {
      display: table;
      vertical-align: middle;
      position: relative;
      z-index: 2;
      max-width: 1000px;
      box-sizing: border-box;
      width: 90%;
      background: #fff;
      padding: 15px 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px #000;
      text-align: left; }
      #close-modal .blocker .modal .table {
        width: 100%; }
      #close-modal .blocker .modal .table-border {
        border-collapse: collapse; }
        #close-modal .blocker .modal .table-border th {
          color: #fff !important;
          background: #009a82;
          text-align: center; }
        #close-modal .blocker .modal .table-border, #close-modal .blocker .modal .table-border th, #close-modal .blocker .modal .table-border td {
          border: 1px solid #dedede;
          padding: 5px 8px;
          font-size: 13px;
          color: #333; }
      #close-modal .blocker .modal a.close-modal[class*="icon-"] {
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        color: #fff;
        line-height: 1.28;
        text-align: center;
        text-decoration: none;
        text-indent: 0;
        background: #fd5465;
        border-radius: 26px;
        font-size: 0; }
      #close-modal .blocker .modal a.close-modal {
        position: absolute;
        top: -12.5px;
        right: -12.5px;
        display: block;
        width: 30px;
        height: 30px;
        text-indent: -9999px; }
        #close-modal .blocker .modal a.close-modal::before {
          content: "-";
          font-size: 6rem;
          color: #fff;
          position: absolute;
          top: -28.5px;
          right: 4.5px; }
