//COLOR
$color-black:#000;
$color-white: #fff;

$primary-color:#00917a;
$primary-color-dark:#00483d;
$primary-color-light:#cce9e4;

$color-orange:#ff6801;
$color-pink:#fd475a;

$default-box-shadow:0 4px 6px #ccc;
//FONT
$default-font-size:1.6rem;

//GRID
$grid-width:120rem;
