.section-features{
    .corevalue{
        display: flex;
        padding: 10px 60px;
        margin: 20px 0;
        .item{
            display: flex;
            width: 25%;
            text-align: center;
            align-items: center;
            justify-content: center;
            .icon{
                font-size: 70px;
                margin-right: 10px;
                background: linear-gradient(to right,#00917a,#00483d);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .text{
                text-align: left;
                padding-bottom: 15px;
                line-height: 1.3;
                span{
                    display: block;
                    font-size: 13px;
                }
                strong{
                    display: block;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700
                }
            }
        }
    }
}