input[type="checkbox"]{
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
    box-sizing: border-box;
    padding: 0px;
    &:checked + .checkbox-fake{
        border-color: rgb(11, 116, 229);
        background-color: rgb(11, 116, 229);
        &::before{
            transform: scale(1) rotate(-45deg);
        }
    }
}
.checkbox-fake{
    width: 18px;
    height: 18px;
    border: 1px solid rgb(196, 196, 207);
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 12px 0px 0px;
    position: relative;
    z-index: 1;
    color: rgb(196, 196, 207);
    background: transparent;
    cursor: pointer;
    &::before{
        content: "";
        display: block;
        position: absolute;
        left: 2px;
        top: 3px;
        width: 12px;
        height: 6px;
        border-left: 2px solid rgb(255, 255, 255);
        border-bottom: 2px solid rgb(255, 255, 255);
        transform: scale(0) rotate(-45deg);
        transition: transform 0.3s ease 0s;
    }
}
.label{
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}
