body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-black;

}
a,a:link,a:visited{
    text-decoration: none;
    color: #00483d;
    cursor: pointer;
}